<header class="w-screen flex flex-row justify-between items-center p-2">
  <div class="hamburger cursor-pointer" *ngIf="!showBack; else arrowBack"
       (click)="openMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ng-template #arrowBack>
    <img class="arrow-back__image cursor-pointer" src="assets/images/left-arrow.svg"
         alt="left arrow" loading="lazy" (click)="back()" />
  </ng-template>
  <div class="title text-center">
    {{ title$ | async }}
  </div>

  <!-- sidenav -->
  <nav class="menu">
    <p class="menu__title flex flex-row justify-between items-center">
      <span class="menu__title--text">
        {{ 'header.menu.title' | translate }}
      </span>
      <span class="menu__title--close"
            (click)="closeMenu()">&times;</span>
    </p>
    <ul class="menu__list list-none mt-4">
      <li class="menu__list--link flex flex-row justify-between items-center"
          [routerLink]="['/movies']" routerLinkActive="link-activated">
        <span class="text">{{ 'header.menu.movies' | translate }}</span>
        <span class="arrow">→</span>
      </li>
      <li class="menu__list--link flex flex-row justify-between items-center">
        <span class="text">{{ 'header.menu.actors' | translate }}</span>
        <span class="arrow">→</span>
      </li>
      <li class="menu__list--link flex flex-row justify-between items-center">
        <span class="text">{{ 'header.menu.movie-studios' | translate }}</span>
        <span class="arrow">→</span>
      </li>
    </ul>
  </nav>
</header>
