.manage-movie-container {
  //width: 50%;

  form {
    //width: 50%;

    label {
      font-weight: 800;
      margin-bottom: 0.2rem;
    }

    input {
      height: 36px;
      padding-left: 7px;
    }
  }

  &--save {
    width: 3rem;
    height: 3rem;
    font-weight: 800;
    border-radius: 25px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;

    &:focus {
      outline: none;
    }

    img {
      width: 1.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .manage-movie-container {
    //width: 100%;

    form {
      //width: 90%;
    }
  }
}
