.card {
  margin: 5px;
  border: 5px solid transparent;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 380px;
  min-height: 390px;
  transition: all 0.6s;
  border-radius: 0.5rem;
  cursor: pointer;

  &__title {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  figure {
    height: 300px;

    img {
      width: 100%;
      height: 100%;
      opacity: 0.5;
      transition: opacity 0.5s;
      border-radius: 0.2rem;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__genres {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    &--genre {
      font-weight: 800;
      font-size: 0.8rem;
    }
  }
}
