.movies-list-container {
  width: 100%;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-items: center;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &--title {
      font-size: 2rem;
      color: #fff;
    }
  }
}

.add-movie {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: 800;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;

  &:focus {
    outline: none;
  }

  img {
    width: 1.5rem;
  }
}
